<%= content_for(:body_index, "index") %>
<span id="disp_show_welcom">

<span class="notice"><%= notice %></span>
<span class="alert"><%= alert %></span>

<div class="out_relative">

<div class="resizeimage">
  <img src="/title.jpg">
</div>
</div><br><br>

<div class="outer" ontouchstart="">
<div class="out_relative">
  <div class="kadomaru inner" >
    始める
    <!--<%= link_to '', controller: rooms_path %>-->
    <!--<%= link_to '', login_rooms_path %>-->
    <%= link_to '', controller: :selectroom %>
    
  </div><br>
  <div class="kadomaru inner">
    ルール説明
    <%= link_to '', controller: :rule %>
    <!--<%= link_to '', rule_detail_rule_index_path %>-->
  </div>
</div>

</div>

