<%= content_for(:body_index, "index") %>

<div class="outer">
<div class="out_relative">

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to "Settings", edit_user_registration_path %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% end %>


  <div class="title_small">
    <img src="logo_data_01.jpg">
  </div><br>
  
  <div class="kadomaru_red_pit inner">
    ゲーム開始
    <%= link_to '', villages_path %>
    <!--<a href="villages.html"></a>-->
  </div><br><br>
  <div class="kadomaru_futinasi inner">
    メンバー
  </div>
  <div class="posi_type">７人</div>

  <p class="mem_list">
  <span class="owner inner">孫悟空</span>
  <span class="member inner">ピッコロマジュニア神様</span>
  <span class="member inner">クリリン</span>
  <span class="member inner">ベジータ</span>
  <span class="member inner">ブルマ</span>
  <span class="member inner">トランクス</span>
  <span class="member inner">ヤムチャ</span><br>
  <span class="comment">※オーナーは赤色</span><br>
  </p>
  

  <div class="kadomaru_futinasi inner">
    配役
  </div>
  <div class="posi_type">
  マイノリティー・・１人<br>
  インフルエンサー・１人<br>
  ストーカー・・・・１人<br>
  マジョリティー　・４人<br>
  <span class="comment_sml">※お題は、ゲーム開始時にランダムに選ばれます。</span>
  </div><br>

  <div class="kadomaru inner">
    戻る
    <%= link_to '', controller: :welcome %>
    <!--<a href="index.html"></a>-->
  </div><br><br>

</div><br><br>
</div>


