<%= content_for(:body_index, "index") %>
<span id="disp_index_room">

<div class="outer" ontouchstart="">
  <div class="out_relative">
    <div class="title_small">
      <img src="/logo_data_01.jpg">
    </div><br>
    <div class="kadomaru_red_futinasi inner">
        部屋一覧
    </div><br>
    
    <table class='table table-striped table-hover tbl_font'>
      <tr>
        <th class='id uesita'>ID</th>
        <th class='owner2 uesita'>オーナー</th>
        <th class='uesita'>メンバー</th>
      </tr>
      <% for i in 0..((@roomNum.count) -1) do %>
        <tr>
          <td><%= link_to @roomNum[i] ,   join_rooms_path(roomNum: @roomNum[i] , name: current_user.name , email: current_user.email) ,method: :put %></td>
          <td><%= link_to @ownName[i] ,   join_rooms_path(roomNum: @roomNum[i] , name: current_user.name , email: current_user.email) ,method: :put %></td>
    
          <% if @memberTxt[i].nil? %>
            <td><%= link_to '　' , join_rooms_path(roomNum: @roomNum[i] , name: current_user.name , email: current_user.email) ,method: :put %></td>
          <% else %>
            <td><%= link_to @memberTxt[i] , join_rooms_path(roomNum: @roomNum[i] , name: current_user.name , email: current_user.email) ,method: :put %></td>
          <% end %>
          
        </tr>
      <% end %>

    </table>
    <br>

    <div class="kadomaru inner">
        部屋新規作成
        <%= link_to '', rooms_path(email: current_user.email , name: current_user.name ,position:'owner') , method: :post %>
    </div><br>
    
    <div class="kadomaru inner">
        戻る
        <%= link_to '', controller: :selectroom %>
    </div><br>
  </div>
  <div class="outer">
    ©2020 オオメノルー　all rights reserved.<br><br></div>
  <a rel="noopener sponsored" href="https://www.dlsite.com/maniax/dlaf/=/t/t/link/work/aid/whirlstorm/id/RJ258362.html" target="_blank"><img src="//img.dlsite.jp/modpub/images2/work/doujin/RJ259000/RJ258362_img_sam.jpg" alt="" border="0" class="target_type" /></a>
  <a rel="noopener sponsored" href="https://www.dlsite.com/maniax/dlaf/=/t/t/link/work/aid/whirlstorm/id/RJ286012.html" target="_blank"><img src="//img.dlsite.jp/modpub/images2/work/doujin/RJ287000/RJ286012_img_sam.jpg" alt="" border="0" class="target_type" /></a>
  <a rel="noopener sponsored" href="https://www.dlsite.com/maniax/dlaf/=/t/t/link/work/aid/whirlstorm/id/RJ271712.html" target="_blank"><img src="//img.dlsite.jp/modpub/images2/work/doujin/RJ272000/RJ271712_img_sam.jpg" alt="" border="0" class="target_type" /></a>
</div>

<script type="text/javascript">blogparts={"base":"https://www.dlsite.com/","type":"product","site":"maniax","query":{"keyword_work_name":"RJ258362|RJ286012|RJ271712|RJ280378","ana_flg":"all"},"title":"指定作品","display":"horizontal","detail":"0","column":"v","image":"large","count":"3","wrapper":"0","autorotate":true,"aid":"whirlstorm"}</script><script type="text/javascript" src="https://www.dlsite.com/js/blogparts.js" charset="UTF-8"></script>

